<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="Serialization">
      <file>tests/Serialization.php</file>
    </testsuite>

    <testsuite name="Fingerprint">
      <file>tests/Fingerprint.php</file>
    </testsuite>

    <testsuite name="MessageVerification">
      <file>tests/MessageVerification.php</file>
    </testsuite>

    <testsuite name="KeyVerification">
      <file>tests/KeyVerification.php</file>
    </testsuite>

    <testsuite name="Decryption">
      <file>tests/Decryption.php</file>
    </testsuite>

    <testsuite name="Encryption">
      <file>tests/Encryption.php</file>
    </testsuite>
  </testsuites>
</phpunit>
